    <!doctype html>
    <html>  
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
            <script src="js/app.js"></script>
            <link rel="stylesheet" href="css/style.css">
        </head>

        <body>  

            <!--<div ng-app="" ng-controller="SomeCtrl">
                <select ng-model="country" ng-options="c.name for c in countries" ng-change="countryChanged()"></select>
                <select ng-model="univer" ng-options="u.name for u in univers"></select>
            </div>-->

            <<div ng-app="" ng-controller="Enter">
                <select ng-model="country" ng-options="c.name for c in countries" ng-change="countryChanged()"></select>
                <select ng-model="univer" ng-options="u.name for u in univers"></select>
            </div>
    	
        </body>
    </html>
